<%- include("partials/header"); -%>

    <h1>Home Page</h1>

    <p>
        <%= ejsHomeStartingContent %>
    </p>

    <div>
        <% ejsPosts.forEach((post)=> { %>
            <h3>
                <%= post.title %>
            </h3>
            <p>
                <%=post.body.substring(0,100) +"..."; %>
                    <a href="/posts/<%= post.title %>">Read More</a>
            </p>
            <% }); %>
    </div>

    <%- include("partials/footer"); -%>

        <% var now=new Date(); %>
            <% console.log(now.toUTCString()); %>