<%- include("partials/header") %>

    <body>
        <h1 class="box" id="heading">
            <%= ejsListType %>
                <br>
                <%= ejsWeekend %>
                    <br>
                    <%= ejsTodaysDate %>
        </h1>

        <div class="box">
            <% ejsToDoList.forEach((task)=> { %>
                <form action="<%=ejsDeleteRoute%>" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkedItem" value="<%=task._id%>" onchange="this.form.submit()">
                        <p>
                            <%= task.name %>
                        </p>
                    </div>
                </form>
                <% }); %>

                    <form class="item" action="<%= ejsRoute %>" method="post">
                        <input type="text" name="newItem" placeholder="New Item" id="">
                        <button type="submit">+</button>
                    </form>
        </div>

        <%- include("partials/footer"); %>